.meal_of_the_day,.login_signup {
    display: inline-block;
    border: 1% solid black;
    height: 80vh;
    box-sizing: border-box;
    vertical-align: top;
    width:48%;

}

.thumbnail {
    aspect-ratio: 1 / 1;
}

.thumbnail,#ingredients {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 48%;
}

.login_signup ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.login_signup li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1% solid black;
    box-sizing: border-box;
    width: 48%;
}

.selected {
    background-color: green;
}