#new_meal_container {
    padding: 20px;
    border: 1px solid #000000;
    width: 100%;
    position: relative;
}

#meal_form {
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 10px;
}

input[type="submit"] {
    align-self: flex-end;
}

h1 {
    text-align: center;
}

.content {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.meal-list {
    width: 80%;
    float: left;
    margin-right: 20px;
}

.meal-info {
    display: flex;
    align-items: center;
}

.meal-info img {
    max-width: 100px; /* Adjust the maximum width of the image */
    margin-right: 20px; /* Add space between image and text */
}

.meal-details {
    flex: 1; /* Allow the details to take up remaining space */
}

.schedule-button {
    margin-left: 20px; /* Add space between meal details and button */
}

/* Sidebar */
.sidebar {
    float: right;
    width: 20%; 
    margin-left: 20px;
}

/* Styling for recent meals in the sidebar */
.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar p {
    margin-top: 20px;
}

#meal {
    position: absolute;
    top: 20;
    right: 20;
    width: 20%;
    max-width: 200px;
    min-height: 150px;
}

#links {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
}