* {
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    overflow: hidden;
}

.user_hub,.meal_of_the_day,.flex_meal_content,#ingredients {
    display: flex;
}

.user_hub {
    flex-direction: row;
    height:55vh;
    margin-bottom: 5px;
}

.upcoming_meals,.shopping_list,.meal_of_the_day {
    padding: 20px;
    border: 5px outset darkolivegreen;
    margin: 0 0;
    border-radius: 10px;
    background-color: #d4fcd5;
}

.upcoming_meals,.shopping_list {
    display: inline-block;
    flex: 1;
    height: 100%;
}

.shopping_list {
    display: flex;
    flex-direction: column;
}

.shopping_list ul {
    overflow-y:auto;
    flex:1;
}

.upcoming_meals {
    margin-right:5px;
}


.upcoming_meals h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.meal {
    border-bottom: 1px solid black;
    padding: 10px; 
    font-size: 1.3em;
}

.meal ul {
    margin: 0; 
    padding: 0; 
}

.meal li {
    list-style: none;
    margin-bottom: 20px;
}

.meal_of_the_day {
    width: 100%;
    height: 30vh;
    border: 5px outset darkolivegreen;
}

h1 {
    padding: 0;
    margin-top: 10px;
}

h2 {
    max-height:20%;
    padding: 20px;
    margin:0;
}

.meal_content {
    height: 100%;
    display: inline-block;
    flex:1;
}

.flex_meal_content {
    padding: 10px;
    max-height: 80%;
    flex-direction: row;
}

#ingredients, .add_meal_of_the_day {
    flex:1;
}

#ingredients {
    flex-wrap: wrap;
    flex-direction: column;
    height: 15vh;
    margin-top: 5px;
    overflow-y:auto;
    flex:1;
}

.add_meal_of_the_day {
    align-self: flex-end;
    flex: 0 0 auto;
    width: 150px;
}

.add_meal_of_the_day .button {
    margin: 0;
    width: 100%;
}

.thumbnail {
    display: inline-block;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5%;
}

a {
    color: inherit;
    text-decoration: none;
}