<!DOCTYPE html>
{% extends 'MyMealMate/base.html' %}
{% load staticfiles %}

{% block script_block %}
    <script src="{% static 'js/popups.js' %}"></script>
{% endblock %}

{% block title_block %}
    Edit Profile
{% endblock %}


{% block body_block %}
<h1>Edit Profile</h1>

<form method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="userDetails">
    {{ edit_profile_form.as_p }}
    </div><div class="profilePic">
    <img id="editProfilePic" src="{{ profile_picture.url }}" alt="Profile Picture" />   
    {{ edit_picture_form.as_p }}
    </div>
    <input class="button" type="submit" name="submit" value="Confirm" />
</form>

<div class="profileButtons">
    <button class="button" onclick="window.location.href = '{% url 'MyMealMate:profile' %}';">Back to Profile</button>
    <button class="button" onclick="confirmAccountDeletion()">Delete Profile</button>
</div>
{% endblock %}