<!DOCTYPE html>
{% extends 'MyMealMate/base.html' %}
{% load staticfiles %}

{% block script_block %}
    <script src="{% static 'js/popups.js' %}"></script>
{% endblock %}

{% block title_block %}
    Edit Profile
{% endblock %}


{% block body_block %}
<h1>Edit Profile</h1>

<form method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ edit_profile_form.as_p }}
    {{ edit_picture_form.as_p }}
    <input type="submit" name="submit" value="Confirm" />
</form>
<br />
<br />
<a href="{% url 'MyMealMate:profile' %}">Back to Profile</a>
<br />
<br />
<form action="{% url 'MyMealMate:delete_account' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete Account" onclick="return confirmAccountDeletion()">
</form>
{% endblock %}