<!DOCTYPE html>
{% extends 'MyMealMate/home_base.html' %}
{% load staticfiles %}
{% load MyMealMate_template_tags %}

{% block title_block %}
    Login
{% endblock %}

{% block credentials %}
<script>
    if ("{{ error_message }}") {
        alert("{{ error_message }}");
    }
</script>
    

<div class="login_signup_nav">
    <ul>
        <li class="selected"><h1>Login</h1></li>
        <li><a href="{% url 'MyMealMate:signup'%}"><h1>Sign Up</h1></a></li>
    </ul>
</div>

<div class="login_signup_form">

<form id="login_form" method="post" action="{% url 'MyMealMate:home' %}">
    {% csrf_token %}
    <p class="signin_label">Username: </p><input type="text" name="username" value="" size="50" />
    <br /><br/>
    <p class="signin_label">Password: </p><input type="password" name="password" value="" size="50" />
    <br /><br/>
    <input class="button" type="submit" value="Log In">

</form>
</div>

{% endblock %}

