<!DOCTYPE html>
{% extends 'MyMealMate/base.html' %}
{% load staticfiles %}
{%load MyMealMate_template_tags%}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'css/meal.css' %}">
{% endblock %}

{% block title_block %}
    Meal
{% endblock %}

{% block body_block %}
<h1>{{meal.name}}</h1>
<div id="new_meal_container">
    {% if meal.image %}
        <img id="meal" src="{{meal.image.url}}" alt="Meal Image">
    {% endif %}
    <h3>Instructions</h3>
    {% if meal.instructions %}
        {{meal.instructions}}
    {% else %}
        No instructions
    {% endif %}
    <h3>Ingredients</h3>
    {% if meal.ingredients.all %}
    <ul>
        {% for ingredient in meal.ingredients.all %}
            <li>{{ ingredient.name }} - {{ ingredient.amount|remove_decimal_if_integer }} {{ ingredient.unit }}</li>
        {% endfor %}
    </ul>
    {% else %}
        No ingredients
    {% endif %}
    <br>
    <div id="links">
        <button class="button" onclick="window.location.href = '{% url 'MyMealMate:edit_meal' meal.slug %}';">Edit Meal</button>
        {% if meal.url %}
            <button class="button" onclick="window.location.href = '{{ meal.url }}'">Link to Recipe</button>
        {% endif %}
        <button class="button" onclick="window.location.href = '{% url 'MyMealMate:my_meals' %}';">Back to My Meals</button>
    </div>
</div>
{% endblock %}
