<!DOCTYPE html>
{% extends 'MyMealMate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    My Meals
{% endblock %}

{% block body_block %}
<h1>My Meals</h1>
    {% if meals %}
    <ul>
        {% for meal in meals %}
        {% if meal.image %}
            <img src="{{ meal.image.url }}" alt="{{ meal.name }} Image">
        {% endif %}
        <li>
            <a href="{% url 'MyMealMate:meal' meal.slug %}">{{ meal.name }}</a>
        
            {% if meal.url %}
                || <a href="{{ meal.url }}">Recipe</a>
            {% endif %}
        
            {% if meal.instructions %}
                || Instructions: {{ meal.instructions }}
            {% endif %}
        
            || Times Scheduled: {{ meal.schedCounter }}
        </li>
        {% endfor %}
    </ul>
    {%else%}
    <p>No meals</p>
    {%endif%}
    
<button class="button" onclick="window.location.href = '{% url 'MyMealMate:new_meal' %}';">Make a New Meal</button>

{% endblock %}
