<!DOCTYPE html>
{% extends 'MyMealMate/base.html' %}
{% load staticfiles %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'css/meal.css' %}">
{% endblock %}

{% block title_block %}
    My Meals
{% endblock %}

{% block body_block %}
<h1>My Meals</h1>
<div class="content">
    <div class="meal-list">
        {% if meals %}
            <ul>
                {% for meal in meals %}
                <li>
                    <div class="meal-info">
                        {% if meal.image %}
                            <a href="{% url 'MyMealMate:meal' meal.slug %}"><img src="{{ meal.image.url }}" alt="{{ meal.name }} Image"></a>
                        {% endif %}
                        <div class="meal-details">
                            <a href="{% url 'MyMealMate:meal' meal.slug %}">{{ meal.name }}</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <button class="button" onclick="window.location.href = '{% url 'MyMealMate:new_meal' %}';">Make a New Meal</button>
            <button class="button" onclick="window.location.href = '{% url 'MyMealMate:schedule' %}';">My Schedule</button>
        {% else %}
            <p>You have no meals. Click the button below to add one!</p>
            <button class="button" onclick="window.location.href = '{% url 'MyMealMate:new_meal' %}';">Make a New Meal</button>
        {% endif %}
    </div>
    <div class="sidebar" style="min-height: 485px">
        <h2>Recent Meals</h2>
        <ul>
        {% if recent_meals %}
            {% for recent_meal in recent_meals %}
                <li><a href="{% url 'MyMealMate:meal' recent_meal.slug %}">{{ recent_meal.name }}</a></li>
            {% endfor %}
        {% else %}
            <p>You have no meals. Click the button below to add one!</p> 
            <button class="button" onclick="window.location.href = '{% url 'MyMealMate:new_meal' %}';">Make a New Meal</button>
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
