<!DOCTYPE html>
{% extends 'MyMealMate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    New Meal
{% endblock %}

{% block body_block %}
<h1>Add a New Meal</h1>
<div>
    <form id="meal_form" method="post" action="/MyMealMate/my_meals/new_meal/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}<br>
            {% endfor %}
            <input type="submit" name="submit" value="Create Meal" />
    </form>
</div>
{% endblock %}
