<!DOCTYPE html>
{% extends 'MyMealMate/base.html' %}
{% load staticfiles %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'css/meal.css' %}">
{% endblock %}

{% block title_block %}
    New Meal
{% endblock %}

{% block body_block %}
<h1>Make A New Meal</h1>
<div id="make_meal_container">
    <form id="meal_form" method="post" action="/MyMealMate/my_meals/new_meal/" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="field">
                {{ field.label_tag }} {# Display the label #}
                {{ field.errors }} {# Display any errors #}
                {{ field }} {# Display the form field #}
                {{ field.help_text }} {# Display the help text if available #}
            </div>
        {% endfor %}

        <input type="submit" name="submit" class="button" value="Create Meal" />
    </form>
    <button class="button" onclick="window.location.href = '{% url 'MyMealMate:my_meals' %}';">Back to My Meals</button>

</div>
{% endblock %}
