<!DOCTYPE html>
{% extends 'MyMealMate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
<h1>My Profile</h1>
<div>
    <div class="userDetails">
        <p>
            Username: {{ user.username }}<br />

            {% if user.first_name %}
                First name: {{ user.first_name }} <br />
            {%  endif  %}

            {% if user.email %}
                Email: {{ user.email }} <br />
            {% endif %}
        </p>
    </div>
    <div class="profilePic"></div>
        <img id="profilePic" src="{{ profile_picture.url }}" alt="Profile Picture" />   
    </div>  

    <div class="profileButtons">
        <button class="button" onclick="window.location.href = '{% url 'MyMealMate:logout' %}';">Log Out</button>

        <button class="button" onclick="window.location.href = '{% url 'MyMealMate:edit_profile' %}';">Edit Profile</button>
    </div>
     
{% endblock %}
