<!DOCTYPE html>
{% extends 'MyMealMate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Schedule
{% endblock %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'css/schedule_styles.css' %}">
{% endblock %}

{% block script_block %}
<script src="{% static 'js/create_schedule.js' %}"></script>
<script>


    var selected_day = new Date().getDate();
    var selected_month = new Date().getMonth();
    var selected_year = new Date().getFullYear();


    document.addEventListener("DOMContentLoaded", function() {
        var schedule = '{{ schedule }}';
        createCalendar(selected_month, selected_year, schedule);
    });
</script>
{% endblock %}

{% block body_block %}
<h1>Schedule</h1>
<div class="schedule_nav">
    <ul>
        <li><button id="prevMonthButton" onclick="previousMonth('{{ schedule }}')">Previous</button></li>
        <li><button id="todayButton" onclick="today('{{ schedule }}')">Current Month</button></li>
        <li><button id="nextMonthButton" onclick="nextMonth('{{ schedule }}')">Next</button></li>
    </ul>
</div>

<div id="calendar"></div>
{% endblock %}