<!DOCTYPE html>
{% extends 'MyMealMate/home_base.html' %}
{% load staticfiles %}
{% load MyMealMate_template_tags %}

{% block title_block %}
    Sign Up
{% endblock %}

{% block credentials %}

    <div class="login_signup_nav">
        <ul>
            <li><a href="{% url 'MyMealMate:home' %}"><h1>Login</h1></a></li>
            <li class="selected"><h1>Signup</h1></li>
        </ul>
    </div>
    
    <div class="login_signup_form">
    <form id="user_form" method="post" action="{% url 'MyMealMate:signup' %}" enctype="multipart/form-data">
        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input class="button" type="submit" name="submit" value="Sign Up" />
    </form>
    </div>

{% endblock %}