<!DOCTYPE html>
{% extends 'MyMealMate/base.html' %}
{% load staticfiles %}

{% block title_block %}
    User Hub
{% endblock %}

{% block script_block %}
    <script src="{% static 'js/meal_of_the_day.js' %}"></script>
{% endblock %}

{% block body_block %}
{% if user.first_name %}
    <h1>{{ user.first_name }}'s Hub</h1>
{% else %}
    <h1>User Hub</h1>
{% endif %}

<ul>
    <li><a href="{% url 'MyMealMate:shopping_list' %}">My Shopping List</a></li>
    <li><a href="{% url 'MyMealMate:my_meals' %}">My Meals</a></li>
</ul>

<div class="meal_of_the_day" meal_of_the_day="{{ meal_of_the_day }}">
    <h1>Meal of The Day:<br/>{{ meal_of_the_day.strMeal }}</h1>
    <br><img class='thumbnail' src="{{ meal_of_the_day.strMealThumb }}"/>
    <ul id="ingredients"></ul>
    <form method="POST" action="{% url 'MyMealMate:add_meal_of_the_day' %}" class="add_meal_of_the_day">
        {% csrf_token %}
        <button class="button" type="submit">Add to my meals</button>  
        <script>displayAddButton('{{ has_meal_of_the_day }}')</script>
    </form>
</div>

{% endblock %}
