<!DOCTYPE html>
{% extends 'MyMealMate/base.html' %}
{% load staticfiles %}
{%load MyMealMate_template_tags%}

{% block title_block %}
    User Hub
{% endblock %}

{% block script_block %}
    <script src="{% static 'js/meal_of_the_day.js' %}"></script>
{% endblock %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'css/user_hub.css' %}">
{% endblock %}

{% block body_block %}

<div class="title">
    {% if user.first_name %}
        <h1>{{ user.first_name }}'s Hub</h1>
    {% else %}
        <h1>User Hub</h1>
    {% endif %}
</div>

<div class="user_hub">
    <div class="upcoming_meals">
        <h1><a href="{% url 'MyMealMate:schedule' %}">Upcoming Meals</a></h1>
        <div id="meal_schedule">
            {% for meal in upcoming_meals %}
                <div class="meal">
                    <ul>
                        <li><strong>{{ meal.0 }}</strong> - {% for meal_name in meal.1 %}{{ meal_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="shopping_list">
        <h1><a href="{% url 'MyMealMate:shopping_list' %}" class="{% if nbar == 'shopping_list' %}active{% endif %}">My Shopping List</a></h1>
        <ul>
            {%if shopping_list_items%}
            {%for shopping_list_item in shopping_list_items%}
                <form action="{%url 'MyMealMate:clicked_from_hub' shopping_list_item.id %}" method="POST">
                    {% csrf_token %}
                    <label><input type="checkbox" value="{{shopping_list_item.id}}" onchange="this.form.submit()"  {%if shopping_list_item.checked%} checked {%endif%} />
                        {% if shopping_list_item.checked %}
                        <s>{{shopping_list_item.name}}{%if shopping_list_item.amount%}: {{shopping_list_item.amount|remove_decimal_if_integer}} {%if shopping_list_item.unit%} {{shopping_list_item.unit}} {%endif%} {%endif%}</s>
                        {%else%}
                        {{shopping_list_item.name}}{%if shopping_list_item.amount%}: {{shopping_list_item.amount|remove_decimal_if_integer}} {%if shopping_list_item.unit%} {{shopping_list_item.unit}} {%endif%} {%endif%}
                        {%endif%}</label> <br/>
                </form>
            {%endfor%}
            {%else%}
                <ul> <li><strong>You currently don't have any items on your list.</strong></li></ul>
            {%endif%}
        </ul>
    </div>
</div>

<div class="meal_of_the_day" meal_of_the_day="{{ meal_of_the_day }}">
    <img class='thumbnail' src="{{ meal_of_the_day.strMealThumb }}"/>
    <div class='meal_content'>
        <h2>Meal of The Day: {{ meal_of_the_day.strMeal }}</h2>
        <div class="flex_meal_content">
            <ul id="ingredients"></ul>
            <form method="POST" action="{% url 'MyMealMate:add_meal_of_the_day' %}" class="add_meal_of_the_day">
                {% csrf_token %}
                <button type="submit" class="button">Add to My Meals</button>  
                <script>displayAddButton('{{ has_meal_of_the_day }}')</script>
            </form>
        </div>
    </div>
</div>

{% endblock %}
